<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav mode="over">
    <md-nav-list>
      <h3 md-subheader>My Family</h3>
      <a md-list-item *ngFor="let person of family | async" (click)=personSelected(person.$key,sidenav)>
        <img md-list-avatar [src]="person.imageUrl" [alt]="person.firstName" />
        <h3 md-line>{{person.firstName}} {{person.lastName}} ({{person.relationship}})</h3>
      </a>
      <md-divider></md-divider>
      <a md-list-item [routerLink]="['add']" (click)="sidenav.close()">Add person...</a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Vaxtrax</span>
    <span class="toolbar-fill-remaining"></span>
    <span *ngIf="(account | async)">Welcome {{(account | async)?.family[0].firstName}}!</span>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>
