<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav mode="side">
    <md-nav-list>
      <h3 md-subheader>My Family</h3>
      <a md-list-item *ngFor="let person of account?.family; let i = index" (click)=personSelected(i)>
        <img md-list-avatar [src]="person.imageURL" [alt]="person.firstName" />
        <h3 md-line>{{person.firstName}} {{person.lastName}}</h3>
      </a>
      <a md-list-item>
        <md-icon md-list-icon>add</md-icon>
        <h3 md-line>Add person...</h3>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Vaxtrax</span>
    <span class="toolbar-fill-remaining"></span>
    <span *ngIf="account">Welcome {{account.family[0].firstName}}!</span>
  </md-toolbar>
  <vaxtrax-person [person]="selectedPerson"></vaxtrax-person>
</md-sidenav-layout>
