<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Vax Traxx</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="styles/app.css"/>
  </head>

  <body ng-app="vtApp" layout="column" ng-controller="NavCtrl as nav">

    <md-toolbar layout="row">
      <md-button class="menu" ng-show="nav.isEnabled" hide-gt-sm ng-click="nav.toggleNav()" aria-label="Show Nav">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>VaxTraxx 0.0.1</h1>
    </md-toolbar>
    <div flex layout="row">
      <md-sidenav ng-show="(nav.isEnabled && nav.show)" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
        <md-list>
          <md-item>
            <md-button ng-click="nav.navigate('family')" ng-class="{'selected' : 'family' === nav.selected }">
              <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
              Family
            </md-button>
          </md-item>
          <md-item>
            <md-button ng-click="nav.navigate('help')" ng-class="{'selected' : 'help' === nav.selected }">
              <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
              Help
            </md-button>
          </md-item>
        </md-list>
      </md-sidenav>

      <md-content flex id="content" ng-view></md-content>
    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>

    <script src="./src/app.js"></script>
    <script src="./src/modules/main/Main.js"></script>
    <script src="./src/modules/main/NavController.js"></script>
    <script src="./src/modules/home/Home.js"></script>  
    <script src="./src/modules/home/HomeController.js"></script>
    <script src="./src/modules/users/Users.js"></script>
    <script src="./src/modules/users/UsersListController.js"></script>
    <script src="./src/modules/users/UsersDataservice.js"></script>

  </body>
</html>
