md-radio-button, md-checkbox {
  margin: 16px 8px;
}

md-input-container {
  margin: 8px 0;
  width: 100%;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}

md-card {
  width: 400px;
  box-sizing: border-box;
  margin: 40px 40px 20px 40px;
}

.vax-card {
  display: flex;
}

.vax-card md-card {
  flex-grow: 1;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.vax-card-header {
  display: flex;
}

.vax-card-header md-card-title {
  flex-grow: 1;
  align-self: center;
}

.vax-card-header button {
  flex-grow: 0;
  position: absolute;
  right: -15px;
  top: -10px;
}

.vax-row {
  display: flex;
  flex-flow: row wrap;
  margin-left: 25px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.vax-category {
  cursor: auto;
}

.vax-row > h4,p {
  flex-grow: 1;
  width: 100px;
  white-space: normal;
}

.vax-none {
  margin-left: 10px;
}

.avatar-image {
  width: 80px;
  height: auto;
  border-radius: 40px;
  vertical-align: middle;
}
