<add-immunization [personId]="personId" [immId]="immunizationId" (addImmunizationEvent)="onAddImmunizationEvent($event)" *ngIf="showAddImmunization"></add-immunization>
<div class="vax-card" *ngIf="person && !showAddImmunization">
  <md-card>
    <div class="vax-card-header">
      <md-card-title><img class="avatar-image" [src]="person.imageUrl" /> {{person.firstName}} {{person.lastName}} ({{person.relationship}})</md-card-title>
      <button md-fab (click)="onAddImmunizationClick()">
        <md-icon>add</md-icon>
      </button>
    </div>
    <md-card-content>
      <md-list>
        <h3 md-subheader>Upcoming Vaccinations</h3>
        <md-list-item>
          <div md-line class="vax-row vax-category" *ngIf="(upcoming$ | async)?.length > 0">
            <h4>Vaccine</h4>
            <h4 class="hide-phone">Type</h4>
            <h4 class="hide-phone">Dosage</h4>
            <h4>Scheduled Date</h4>
          </div>
        </md-list-item>
        <md-list-item *ngFor="let upcomingVax of upcoming$ | async" (click)="onImmunizationItemClick(upcomingVax.$key)">
          <div md-line class="vax-row">
            <p>{{upcomingVax.name}}</p>
            <p class="hide-phone">{{upcomingVax.type}}</p>
            <p class="hide-phone">{{upcomingVax.dosageValue}}/{{upcomingVax.dosageUnit}}</p>
            <p>{{upcomingVax.scheduledDate | date}}</p>
          </div>
        </md-list-item>
        <p md-subheader class="vax-none" *ngIf="(upcoming$ | async)?.length === 0">
          NONE
        </p>
        <md-divider></md-divider>
        <h3 md-subheader>Completed Vaccinations</h3>
        <md-list-item>
          <div md-line class="vax-row" *ngIf="(completed$ | async)?.length > 0">
            <h4>Vaccine</h4>
            <h4 class="hide-phone">Type</h4>
            <h4 class="hide-phone">Dosage</h4>
            <h4>Completed Date</h4>
          </div>
        </md-list-item>
        <md-list-item *ngFor="let vax of completed$ | async" (click)="onImmunizationItemClick(vax.$key)">
          <div md-line class="vax-row">
            <p>{{vax.name}}</p>
            <p class="hide-phone">{{vax.type}}</p>
            <p class="hide-phone">{{vax.dosageValue}}/{{vax.dosageUnit}}</p>
            <p>{{vax.completedDate | date}}</p>
          </div>
        </md-list-item>
        <p md-subheader class="vax-none" *ngIf="(completed$ | async)?.length === 0">
          NONE
        </p>
      </md-list>
    </md-card-content>
  </md-card>
</div>
