body {
  margin: 0;
}

.social-btn {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.toolbar-fill-remaining {
  flex: 1 1 auto;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
